<div class="col-sm-10">
	<h1>Video Content</h1>
	<p>Videos will go here</p>
	<p>and here...</p>
</div>

<div class="col-sm-2">
	<div role="form"
		<p>Sign up</p>
		<%= form_for @user do |f| %>
			<%= f.text_field :email, placeholder: "email", class: "form-control" %>
			<%= f.password_field :password, placeholder: "password", class: "form-control" %>

			<%= f.submit "Create Account", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
	<p>Log In</p>
</div>