<div class="navbar-form navbar-right" role="form">
	<%= form_for(@video) do |f| %>
    <div class="form-group">
  		<%= f.text_field :video_url, placeholder: "http://www.youtube.com/watch?v=oHg5SJYRHA0", class: "form-control", size: 50 %>
	  	</div>
		<%= f.submit "Submit Viddit", class: "btn btn-default" %>
	<% end %>
</div>