<header class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a href="#" class="navbar-brand">Viddit</a>
  </div>
    <button type="button" class="btn btn-default navbar-btn pull-right">Submit Video</button>
</header>