<header class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to "Viddit", root_url, class: "navbar-brand" %>
  </div>
  <% if signed_in? %>
    <%= render 'shared/video_form' %>
  <% end %>
</header>
